SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,158.160.243.163

# PostgreSQL settings
POSTGRES_DB=coursework_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here
HOST=db
PORT=5432

# Stripe settings
STRIPE_SECRET_KEY=sk_test_...

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
SERVER_EMAIL=your-email@gmail.com
DEFAULT_FROM_EMAIL=your-email@gmail.com
